{% extends 'layouts/halfmoon.html' %}

{% load i18n %}

{% block content %}

    <h4>Reset Password</h4>

    <div>
        Kami telah mengirimkan email petunjuk untuk menyetel kata sandi Anda, jika ada akun dengan email yang Anda masukkan.
        Anda akan segera menerimanya.

        <br>
        Jika Anda tidak menerima email, pastikan Anda telah memasukkan alamat yang Anda gunakan untuk mendaftar, dan periksa folder spam Anda.
    </div>
    <p>
        <a href="{% url 'accounts:login' %}">Pergi ke Login Page</a>
    </p>

{% endblock %}
