{% extends 'layouts/halfmoon.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>Reset Password</h4>

    {% if validlink %}

        <p>
            Silakan masukkan kata sandi baru Anda dua kali sehingga kami dapat memverifikasi bahwa Anda mengetiknya dengan benar.
        </p>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-primary btn-rounded">{% trans 'Change' %}</button>

        </form>

            <hr>

        <ul>
            <li>
                <a href="{% url 'accounts:login' %}">Kembali ke Login Page</a>
            </li>
        </ul>
        <a href="/">Kambali ke Landing Page</a>


    {% else %}

        <div class="alert alert-danger">
            Tautan pengaturan ulang kata sandi tidak valid, mungkin karena telah digunakan. Silakan minta reset kata sandi baru.
        </div>
    <p>
        <a href="{% url 'accounts:login' %}">Kembali ke Login Page</a>
    </p>
    <a href="/">Kambali ke Landing Page</a>


    {% endif %}

{% endblock %}
